.ms-n5 {
  margin-left: -40px;
}

.icon-yellow {
  color: orange;
}

.logo-small {
  height: 40px;
  width: 40px;
}

#nav .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#nav .form-control {
  padding-left: 2.375rem;
}
