/* NAV */
.icon-yellow {
  color: orange;
}

.logo-small {
  height: 40px;
  width: 40px;
}

#nav .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#nav .form-control {
  padding-left: 2.375rem;
}

/* MAIN */

main {
  height: calc(100vh - 56px);
}

/* SIDEBAR */

#sidebar {
  color: white;
  width: 150px;
  height: 100%;
  background-image: url(./img/sidebar-bg.png);
  background-color: #061e34;
}

#sidebar i {
  width: 40px;
}

/* CONTENT */

#content {
  width: 100%;
  height: calc(100vh - 56px);
}

/* TABELLA CLASSI */
#classes .profile-icon {
  background-color: #f26551;
  width: 30px;
  height: 30px;
}

#classes tr {
  vertical-align: middle;
}

#classes td:not(:first-child),
#classes th:not(:first-child) {
  text-align: center;
}

#classes tr *:nth-child(2),
#classes tr *:nth-child(3) {
  display: none;
}

/* CARD UTENTI */
#utenti li img {
  width: 100%;
}

/* MEDIA QUERY */

@media screen and (max-width: 768px) {
  #sidebar {
    width: 70px;
  }

  #classes tr *:nth-child(2),
  #classes tr *:nth-child(3) {
    display: table-cell;
  }
}
